@charset "ISO-8859-1";

.provaSuccess{
	color: white;
	white-space: nowrap;
	display: block;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#nomeSito{
	color: #D4EF99;
	transition: transform .2s;
}

#nomeSito:hover{
	color: #D9EAAF;
	cursor: pointer;
	transform: scale(1.05);	
}

#squadraPerProva{
	border-style: solid;
	border-radius: 25px;
	background-color: #D4EF99;
	color: #22252E;
	margin-left: 15%;
	margin-right: 15%;
}

.containerContatti{
	transition: transform 0.2s;
	border-radius: 10px;
	background-color: #262d3d79;
	margin: inherit;
}

.containerContatti:hover{
	transform: scale(1.004);
	background-color: #56668979;
}