@charset "ISO-8859-1";

/* video background */
#background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

#supremo{
	font-family: 'Trebuchet MS', sans-serif;
}

#header{
	padding-top: 10vh;
}

#spazioLogo{
	display: flex;
	align-items: center;
	justify-content: center;
}

#logo {
    width: 35vh;
    height: auto;
    transition: transform .2s;
}

#logo:hover{
	transform: scale(1.04);	
}

#login{
	display: flex;
	align-items: center;
	justify-content: center;
}

#loginbottone{
	background-color: transparent;
	border-color: transparent;
}

.IconaLogin{
	width: 5vh;
	height: auto;
	transition: transform .2s;
}

.IconaLogin:hover{
	transform: scale(1.09);
}

#logoutbottone{
	background-color: transparent;
	border-color: transparent;
}

.IconaLogout{
	width: 5vh;
	height: auto;
	transition: transform .2s;
}

.IconaLogout:hover{
	transform: scale(1.09);
}

.container-principale{
    margin: auto;
    padding: 3% 10% 5% 10%;
    
}
.nav{
    background: linear-gradient(117deg, rgba(38,45,61,1) 30%, rgba(38,45,61,0) 100%);
	--bs-nav-link-color: white;
    margin-bottom: 5px;
}
.nav :hover{
    background-color: #22252E;    
    color: #D4EF99;
}

/*input
{
    color:white;
    background-color: rgb(55, 18, 136);
    border: solid 3px #162349 ;
}*/

/*button
{
    color:white;
    background-color: rgb(55, 18, 136);
    border: solid 3px #162349 ;
}*/

/*select
{
    color: white;
    background-color: rgb(55, 18, 136);
    border: solid 3px #162349  ;
}*/

/*.checkRegioni {
border: 2px solid #D4EF99;
width: 20px;
height: 20px;
display: inline-block;
border-radius: 50%;
transition: transform .2s;
}*/

input[type="checkbox"] {
  /* nascondi la spunta di default */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  /* dimensioni e stile del cerchio */
  width: 1.15em;
  height: 1.15em;
  border-radius: 50%;
  border: 0.1em solid #D4EF99;
  box-sizing: border-box;

  /* stile al passaggio del mouse */
  transition: transform 0.2s;
  cursor: pointer;
}

input[type="checkbox"]:hover {
  transform: scale(1.3);
}

/* stile quando la checkbox è checked */
input[type="checkbox"]:checked {
  background: url(/Sportify/img/icons8-calcio-2.gif) no-repeat center center;
  background-size:1.15em;
  border:0.1em solid #D4EF99;
  
}

/* stile quando la checkbox è unchecked */
input[type="checkbox"]:not(:checked) {
  background-color: #262d3d79;
}

.containerContatti{
	transition: transform 0.2s;
	border-radius: 10px;
	background-color: #262d3d79;
	margin: inherit;
}

.containerContatti:hover{
	transform: scale(1.004);
	background-color: #56668979;
}

.container-contatti{
	height: 60vh;
}

.cta{
	height: 60vh;
	display: block;
	align-items: center;
	justify-content: center;
	padding-top: 10vh;
}

.cta h1{
	color: white;
	text-align: center;
	display: flex;
 	align-items: center;
	justify-content: center;
}