@charset "ISO-8859-1";

body{
  margin: 0;
  background-image: url(/Sportify/img/BackgroundFinale.png);
  height: 100vh;
  position: relative;
}
.ball{
  background-image:url(/Sportify/img/palloneSecret.png);
  background-size:80px 80px;
  width: 80px;
  height: 80px;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 10px 10px #262D3D ;
  margin: 5px;
  left: 50%;
  transform: translateX(-50%);
}
